:root {
  --primary: #f0f0f0;
  --secondary: #373C42;
}

.no-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;        
}
.no-scrollbar::-webkit-scrollbar {
  display: none;                
}
/* opcional, para mudar tema dinamicamente */
.dark {
  --primary: #f0f0f0;
  --secondary: #373C42;
}

@theme {
  --font-bahnchrift: 'Bahnschrift', sans-serif;
  --font-altone: 'Altone', sans-serif;
  --font-altone-bold: 'Altone Bold', sans-serif;
  --font-mont-bold: 'Mont Bold', sans-serif;
  --font-mont-extralight: 'Mont Extra Light', sans-serif;
  --font-mortend-bold: 'Mortend Bold', sans-serif;

  --color-primary: var(--secondary);
  --color-secondary: var(--primary);

  --breakpoint-xs: 30rem;   /* 480px */
  --breakpoint-sm: 40rem;   /* 640px */
  --breakpoint-md: 48rem;   /* 768px */
  --breakpoint-lg: 64rem;   /* 1024px */
  --breakpoint-xl: 85rem;   /* 1366px */
  --breakpoint-2xl: 96rem;  /* 1536px */
  --breakpoint-3xl: 120rem; /* 1920px */
}

@layer base {
  
  @font-face {
    font-family: 'Altone';
    src: url('./assets/fonts/altone/Altone-Trial-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Altone Bold';
    src: url('./assets/fonts/altone/Altone-Trial-Bold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Bahnschrift';
    src: url('./assets/fonts/bahnschrift/BAHNSCHRIFT.TTF') format('truetype');
  }

  @font-face {
    font-family: 'Mont Bold';
    src: url('./assets/fonts/mont/MONT-HEAVYDEMO.OTF') format('opentype');
  }

  @font-face {
    font-family: 'Mont Extra Light';
    src: url('./assets/fonts/mont/MONT-EXTRALIGHTDEMO.OTF') format('opentype');
  }

  @font-face {
    font-family: 'Mortend Bold';
    src: url('./assets/fonts/mortend/Mortend-Bold.otf') format('opentype');
  }

  @keyframes rotate-360 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .animate-rotate-360 {
    animation: rotate-360 30s linear infinite;
  }
}

@import "tailwindcss";